NEXT_PUBLIC_THORSWAP_API_URL=https://api.thorswap.net/aggregator/tokens/quote
NEXT_PUBLIC_THORSWAP_TOKENLIST_URL=https://api.thorswap.net/tokenlist
NEXT_PUBLIC_THORSWAP_API_KEY=
NEXT_PUBLIC_BLOCKCHAIR_API_KEY=
NEXT_PUBLIC_ALCHEMY_ETH_RPC_URL=
BREVO_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_TO_EMAIL=
