{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "proseWrap": "always",
  "printWidth": 150,
  "importOrderCaseInsensitive": true
}
